<!DOCTYPE html>
<html>
<head>
  <title>Splash</title>

  <style>
    
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }
    
    img {
      width: 300px; /* Customize the image width */
      height: auto; /* Maintain aspect ratio */
    }

    a {
    color: rgb(4, 7, 110); /* link to purple */
  }
  </style>
</head>
<body>
  <img src="./images/plane.png" alt="Plane">
    <p><a href="home.html">AVIATRACK</a></p>
</body>
</html>
